@import url('https://fonts.googleapis.com/css2? family= Poppins & display=swap');

:root {
    --cor-1: #0b3961;
    --cor-2: #36393b;
    --cor-3: #fefffe;
    --cor-4: #000000;
    --cor-5: #171717;
    --cor-6: #d6e9ff;
    --cor-7: #00296b;
    --cor-8: #ffd500;
    --cor-9: #fdc5f5;
    --cor-10: #f7aef8;
    --cor-11: #b388eb;
    --cor-12: #8093f1;
    --cor-13: #72ddf7;
    --cor-14: #5f0a87;
    --cor-15: #2f004f;
    --font-1: 'Syne', sans-serif;
    --font-2: 'Quicksand', sans-serif;
  }

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #ea10bb;
}

/* #region dashboard*/

.button{
    display: flex;
    justify-content: center;
    margin: 20px;
    border: solid 2px #ac10ea;
    width: 10%;
    margin-left: 90%;
    background-color: #ac10eaab;
}

.dash {
    display: flex;
}

.dash nav img {
    margin: 20px auto;
    width: 150px;
}

.dash nav {
    position: fixed;
    width: 20%;
    background: radial-gradient(100% 225% at 100% 0%,  #9a01ffcc 0%, #00000054 100%), linear-gradient(236deg, #9605da 0%, #00000085 100%), linear-gradient(135deg, #570370bd 0%,  #9519dd 36%,  #a166eee8 36%, #b700ff 60%, #f7aef8 60%, #d83becb9 67%, #450570 67%, #9111cc 100%);
    background-blend-mode: overlay, hard-light, normal;
    color: #f2f2f2;
    height: 100%;
    text-align: center;
    box-shadow: 5px 10px 20px #970df3b6;
    max-height: 3000px;
}

.dash ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dash ul li {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
}

.dash a {
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #161925;
    padding: 10px;
}

.dash a:hover {
    background-color: #f2f2f2;
    color: #ea10bb;
    transition: ease-in-out .3s;
}

.topo {
    width: 80%;
    margin-left: 20%;
}

.header {
    width: 100%;
    background: radial-gradient(100% 225% at 100% 0%,  #9a01ffcc 0%, #00000054 100%), linear-gradient(236deg, #9605da 0%, #00000085 100%), linear-gradient(135deg, #570370bd 0%,  #9519dd 36%,  #a166eee8 36%, #b700ff 60%, #f7aef8 60%, #d83becb9 67%, #450570 67%, #9111cc 100%);
    background-blend-mode: overlay, hard-light, normal;
    text-align: center;
    color: #99e0f5;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 15px 5px 30px var(--cor-13);
    height: 150px;
}

.topo main {
    width: 95%;
    margin: 30px 2.5%;
    text-align: justify;

}

.topo img {
    margin: 20px 0;
}

/* #endregion dashboard*/

/* #region  tabela*/

table,
caption,
td {
    border: solid 3px #ea10bb;
    font-size: 18px;
    font-weight: bold;
}

thead {
    background-image: none;
    background:linear-gradient(220deg, #800eb6 0%, #8093f1 50%, #800eb6 100%); 
    color: #f2f2f2;
}

caption {
    color: #000000;
    margin: 30px 0;
    padding: 15px;
    font-size: 35px;
    border-radius: 15px;
    text-align: center;
}

table {
    width: 100%;
    background:linear-gradient(180deg, #fdc5f5 0%, #8093f1 50%, #fdc5f5 100%);
    text-align: center;
    color: #161925;
}

td:nth-child(1) {
    padding: 0 20px;
}

td {
    padding: 15px 20px;
}

th {
    padding: 15px 20px;
}

.atualizar {
    color: #0bf90b !important;
    background-color: #333 !important;
    border: solid 2px #0bf90b !important;
}

.desativar {
    color: #ff1900 !important;
    background-color: #f2f2f2 !important;
    border: solid 2px #ff1900 !important;
}

.atualizar:hover {
    background-color: #0bf90b !important;
    color: #333 !important; 
}

.desativar:hover {
    background-color: #ff1900 !important;
    color: white !important;
}

/* #endregion  tabela */