.section{
    box-shadow: 10px 10px 30px #800eb6 ;
    padding: 40px 10px;
    border-radius: 20px;
    border: solid 4px #800eb6;
    height: 90vh;
}

.section h2{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.section span{
    display: flex;
    background: #800eb6;
    width: 90%;
    height: 2px;
    margin: 10px 5%;
    z-index: 9;
}

.form{
    display: flex;
    justify-content: space-around;
}

/*.img{
    width: 45%;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img img{
    width: 70%;
    height: 470px;
    margin: 10px 15%;
    border-radius: 15px;
    border: solid 3px #ea10bb;
}

.btnimg{
    font-size: 22px;
    border: solid 2px #ea10bb;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px 65px;
    text-align: center;
    color: black ;
    background-color: #ecebeb;
    margin-top: 57px;
}*/

.btn{
    width:50%; 
    margin: 20px 25%; 
    height:70px !important;
    color: #800eb6;
    border: solid 2px #800eb6 !important; 
}

.btn:hover{
    background-color: #800eb6;
    color: #ecebeb;
    transition: ease-in-out .5s;
}

.input{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.input input{
    height: 40px;
}

.input input, .input textarea{
    border-radius: 15px;
    border: none;
    background-color: #ecebeb;
}

.input label{
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}



